<html>
<body>

<head>
  <title>RNASeq <TMPL_VAR NAME=SPECIES></title>
</head>
<div id="wbps_expression_id">
	<div class="species-badge">
		<h1><em><TMPL_VAR NAME=SPECIES> - public RNASeq studies</em></h1>
	</div>
    <div>
      <h2 id="wbps_expression_toc" class="exp-group">Table of Contents</h2>
       <ul>
           <TMPL_LOOP NAME="TOC">
              <li><a href="#<TMPL_VAR NAME="TOC_ITEM_ID">"><TMPL_VAR NAME="TOC_ITEM_NAME"></a></li>
           </TMPL_LOOP>
       </ul>
    </div>
	<h2 id="wbps_expression_studies" class="exp-group">Analysed</h2>
	<TMPL_VAR NAME=RUNSTUDIES>
    <TMPL_IF NAME="OTHERSTUDIES">
	  <h2 id="wbps_expression_other" class="exp-group">Other</h2>
     <p class="other_descs">
      These studies are available in ENA, and the reads successfully align to our genomes. 
      <TMPL_IF NAME="MORE_WELCOMING_MESSAGE_FOR_SKIPPED_STUDIES">
          <br>If you would like some of them included in the analysis, please let us know!
      </TMPL_IF>
      <TMPL_UNLESS NAME="MORE_WELCOMING_MESSAGE_FOR_SKIPPED_STUDIES">
          <br> They have not been included in our analysis for one of the following reasons:
          <br> Failed to meet minimal criteria for differential expression analysis, failure to pass data quality filters, or we were unable to interpret accompanying metadata.
      </TMPL_UNLESS>
     </p>
	  <TMPL_VAR NAME=OTHERSTUDIES>
    </TMPL_IF>
</div>

</body>
</html>

