<div class="round-box home-box failed-box">
	<h2 class="expandable">	
		<span class="exp-key-plus" style="display: none;"> [+] </span>
		<span class="exp-key-minus"> [-] </span>
		<TMPL_VAR NAME=STUDYID>: <TMPL_VAR NAME=STUDYTITLE>		
	</h2>
	<div class="studycontent">
		<h3><TMPL_VAR NAME=STUDYCENTRE></h3>
		<p><em><TMPL_VAR NAME=STUDYDESCRIPTION></em></p>
		<p><TMPL_VAR NAME=STUDYRUNS></em></p>
	</div>
</div>