<html>
<body>

<head>
  <title>RNASeq <TMPL_VAR NAME=SPECIES></title>
</head>
<div id="wbps_expression_id">
	<div class="species-badge">
		<h1><em><TMPL_VAR NAME=SPECIES> - public RNASeq studies</em></h1>
	</div>
	<h2 class="exp-group">Analysed</h2>
	<TMPL_VAR NAME=RUNSTUDIES>

	<h2 class="exp-group">Not Analysed</h2>
	<TMPL_VAR NAME=OTHERSTUDIES>

</div>

</body>
</html>

